<%=form_for @cadastro, url: atualizar_path(id:@cadastro.id) do |c|%>
nome<br><%= c.text_field :nome%>
<br>
email<br><%= c.text_field :email%>
<br>
idade<br><%= c.text_field :idade%>
<br>
nível<br><%= c.text_field :nivel%>
<br>
descrição<br><%= c.text_area :descricao, rows:10,cols:30%>
<br>
selecionar<br><%= c.check_box :selecionar%>
<br><button>salvar
</button>
<%end%>
<a href="/cadastro/listar">voltar</a>