<%@cad.each do |cadastro|%>
id: <%=cadastro.id%><br>
nome: <%=cadastro.nome%><br>
email:<%=cadastro.email%><br>
idade:<%=cadastro.idade%><br>
nivel:<%=cadastro.nivel%><br>
descrição:<%=cadastro.descricao%><br>
<%if cadastro.selecionar%>
<strong>garota selecionada</strong><br>
<%else%>
<a href="/cadastro/selecionar/<%=cadastro.id%>">selecionar</a><br> 
<%end%>
<a href="/cadastro/editar/<%=cadastro.id%>">editar</a>
<a href="/cadastro/desativar/<%=cadastro.id%>">desativar</a>
<br>
<br>
<br>
<%end%>
<a href="/cadastro/">novo cadastro</a>

