<%@cad.each do |cadastro|%>
id: <%=cadastro.id%><br>
nome: <%=cadastro.nome%><br>
email:<%=cadastro.email%><br>
idade:<%=cadastro.idade%><br>
nivel:<%=cadastro.nivel%><br>
descrição:<%=cadastro.descricao%><br>
<a href="/cadastro/editar/<%=cadastro.id%>">editar</a>
<br>
<br>
<br>
<%end%>

